.highlight { color: #f00 !important; font-weight: bold }
.highlight2 { color: #090 !important; font-weight: bold }
.estreno { background: #fff; font-weight: bold }
.estreno.DynarchCalendar-day-selected { background: #89f; font-weight: bold }